/*Header*/

#container-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    height: auto;
    border: solid blueviolet;
    
}
#container-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border : solid green;
}
.logo{
    border:solid red;
    border-radius: 10px;
    width: 200px;
    flex: 1;

}

.lien{
    border:solid blue;
    border-radius: 10px;
    width: 200px;
}

@media all and (max-width : 800px){
    #container-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
    }
    #container-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-self: flex-start;

    }
    .lien:nth-child(1){
        align-self: flex-end;
        background-color: blueviolet;
    }
    .logo{
        flex:0;
    }
}
#container-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 1000px;
    width: 1080px;
}
/* Bloc 1*/
#container-section-1{
    border: solid green;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: space-around;
    flex-wrap: wrap;
    width: 800px;
}

.element-hotel-1{
    border:solid red;
    border-radius: 10px;
    width: 200px;
}
.element-hotel-1:nth-child(1){
    background: red;
}
.element-hotel-1:nth-child(2){
    background:coral;
}
.element-hotel-1:nth-child(3){
    background:yellow;
}
.element-hotel-1:nth-child(4){
    background:green;
}
.element-hotel-1:nth-child(5){
    background:grey;
}
.element-hotel-1:nth-child(6){
    background:hotpink;
}

/* bloc 2*/
#container-section-2{
    display: flex;
    flex-direction: column;
    border: solid grey;
    justify-content: space-around;
}

/* bloc 3*/
#container-section-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1080px;
}

#container-hotel-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#container-hotel-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#container-hotel-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container-hotel-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid black;

}


@media all and (max-width : 800px){

    #container-main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 1000px;
        max-width: 800px;
    }
    #container-section-1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    
    #container-section-2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #container-section-3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}