/*Paramétrage global */
@font-face {
    font-family: Raleway;
    src: url('./src/fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
}
* {
    font-family: Raleway;
}

/*Header */

a{
    color:#0065FC;
}

#container-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#container-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*search */

#conteneur-search{
    border-radius: 10px;
    border: solid 1px #F2F2F2;
}
#conteneur-search i{
    background-color: #F2F2F2;
    border-top-left-radius:  10px;
}

button i{
    background-color: #0065FC;
    border-radius: 10px;
    color: white;
}


/*Filtres */

#container_filtres{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* Gestion des icones des filtres */

#conteneur_filtres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    background-color: #F2F2F2;
}

#conteneur_filtres i {
    color:#0065FC;
    border:solid 1px;
    background-color:#DEEBFF;
    border-radius: 10px;
}

.filtres{
    border : solid 1px;
    border-radius: 10px;
}
.filtres:nth-child(2){
    align-self:flex-end;
}

/*Main */

article{
    border:solid 5px white;
    border-radius: 30px;
    margin-bottom: 30px;
}

#container-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 1300px;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;    
}

#container-all-popular{
    order :2;
    width: 300px;
    background-color: #F2F2F2;
    
}
#container-all-hebergement{
    order: 1;
    width: 900px;
    background-color: #F2F2F2;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
#container-all-activite{
    order:3;
    align-self: flex-end;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
    align-self: flex-start;
}
.container-hebergement{
    display: flex;
    flex-direction: column;
    width: 300;

}
.container-popular{
    display: flex;
    flex-direction: column;
}
.container-activite{
    display: flex;
    flex-direction: row;
}

article img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

/*footer*/
footer{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    justify-content:space-around;
}

footer a {
    color: black;
}

@media all and (max-width : 600px){

    /*header */
  
    #container-header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: no-wrap;
        width: 480px;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    .lien{
        align-self: flex-end;
    }
    #container-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .lien:nth-child(1){
        align-self: flex-start;
    }

    /*Search*/

    #conteneur-search{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 480px;
    }
   

    /*Filtres */
    #container_filtres{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items:flex-start;
        height: 200px;
        width: 480px;
    }

    .search{
        flex:1;
    }

    /* Main */

    img{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        height: 300px;
        width: auto;
    }

    #container-main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: no-wrap;
        width: 480px;

    }

    /*Popular */
    #container-all-popular{
        background-color: #F2F2F2;
        width: 480px;
    }
    .container-popular{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 480px;
        height: 200px;
    }
    .popular:nth-child(1){
        width: 200px;
    }

    /*Herbergement*/
    #container-all-hebergement{
        width: 480px;
        display: flex;
        flex-direction: column;
    }

    #container-all-activite{
        width: 480px;
        display: flex;
        flex-direction: column;
    }



    /*activite*/

    /*footer*/
 
    footer{
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        justify-content: space-around;
    }
     
}
