/*Paramétrage global */
@font-face {
    font-family: Raleway;
    src: url('./src/fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
}
* {
    font-family: Raleway;
}

/*Header */

.logo{
    max-width: 100%;
    height: auto;
    flex:2;
}

#container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.main-nav ul{
    margin: 1em 0 .5em;
    text-align: center;
}
.main-nav li{
    display: inline;
}
.main-nav a{
    display: inline;
    padding:  .5em 1.5em;
}

article{
    border: 5px solid;
    
}
a{
    color:#0065FC;
}

/*Filtres */

#conteneur_filtres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    background-color: #F2F2F2;
}

/*Main */

#container-main{
    display: flex;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    justify-content:space-around;
}

@media all and (max-width : 480px){

    /*header */
    .main-header .container-header{
        justify-content: space-between;
    }

    /*Filtres */
    #conteneur_filtres{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items:flex-start;
        height: 200px;
    }
    .filtre:nth-child(2){
        order: 2;
    }

    /*Main */

    #container-main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    /*footer*/
 
    footer{
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        justify-content: space-around;
    }
 
 
    
}
